---
import {
	Trophy,
} from 'lucide-svelte';
import MotionWrapper from '@/motion/MotionWrapper.svelte';
import GlassCard from '@/ui/GlassCard.svelte';
import MotionDiv from '@/motion/MotionDiv.svelte';
import SkillTag from '@/ui/SkillTag.svelte';
import type {
	AwardResponse,
} from '@/contentful/types'

const {
	awards,
} = Astro.props;
---

<style>
	@reference "../../styles/global.css";
  #awards {
	  @apply from-background to-muted/10 bg-gradient-to-b py-12;

		> div {
			@apply container mx-auto max-w-4xl px-6 md:px-4;
		}

		.award-heading {
			@apply mb-8 text-center text-2xl font-bold md:text-left;
		}

		.award-content {
			@apply grid grid-cols-1 gap-4 sm:grid-cols-2 md:grid-cols-3;
		}
	}
</style>

<section
	id="awards"
>
	<div>
		<MotionWrapper client:only='svelte'>
			<h2 class="award-heading">
				🏆 Awards
			</h2>
		</MotionWrapper>

		<div class="award-content">
			{awards.map(
				(
					award: AwardResponse, index: number,
				) => (
					<MotionWrapper delay={index * 0.1} key={`${award.name}-${award.date}`} client:only='svelte'>
						<GlassCard
							className="p-4 dark:border-yellow-500/10 hover:border-yellow-500/30 transition-all duration-300 flex flex-col h-full"
							client:only='svelte'
						>
							<div class="mb-2 flex items-center">
								<MotionDiv
									whileHover={{
										rotate: 20,
									}}
									transition={{
										type: 'spring',
										stiffness: 500,
									}}
									class="mr-2 flex items-center justify-center rounded-full bg-gradient-to-r from-amber-500 to-yellow-500 p-1.5"
									client:only='svelte'
								>
									<Trophy class="h-4 w-4 text-white" client:only='svelte' />
								</MotionDiv>
								<h3 class="font-medium">{award.name}</h3>
							</div>
							{award.issuerWebsiteUrl != null ?
								<p class="text-muted-foreground mb-1 pl-8 text-xs">
									🏢 <a
										href={award.issuerWebsiteUrl}
										class="underline"
										target="_blank">{award.issuerName}</a>
								&nbsp;-&nbsp;{award.date}
								</p> :
								<p class="text-muted-foreground mb-1 pl-8 text-xs">
									🏢 {`${award.issuerName} - ${award.date}`}
								</p>
							}

							<div class="mt-auto space-y-2">
								<div
									class="flex flex-wrap justify-center gap-2 md:justify-center-safe"
								>
									{award.tags.map(
										(
											tag: string, index: number,
										) => (
											<SkillTag key={`${tag}-${index}`} client:only='svelte'>
												{tag}
											</SkillTag>
										),
									)}
								</div>
							</div>
						</GlassCard>
					</MotionWrapper>
				),
			)}
		</div>
	</div>
</section>
