---
import Layout from '@/layouts/Layout.astro';
import EmploymentHistory from '@/components/EmploymentHistory.svelte';
import ProjectShowcase from '@/components/ProjectShowcase.svelte';
import GlassHeader from '@/components/GlassHeader.svelte';
import HeroSection from '@/components/HeroSection.svelte';
import SkillsSection from '@/components/SkillsSection.svelte';
import AwardsSection from '@/components/AwardsSection.svelte';
import EducationSection from '@/components/EducationSection.svelte';
import Footer from '@/components/Footer.svelte';
import {
	getAwards,
	getPersonalInfo,
	getPastEmployers,
	getSkillCategories,
	getCertifications,
	getSeoFieldsById,
} from '@/contentful/content';
import getShowcaseProjects from '@/contentful/content/getShowcaseProjects';

const [
	personalInfo,
	awards,
	pastEmployers,
	skillCategories,
	certifications,
	showcaseProjects,
	seoField,
] = (await Promise.all(
	[
		getPersonalInfo(),
		getAwards(),
		getPastEmployers(),
		getSkillCategories(),
		getCertifications(),
		getShowcaseProjects(),
		getSeoFieldsById(
			'4a3PYeoBpPFuf3MyhVTt8G',
		),
	],
));
---

<Layout {...seoField} siteName={seoField.title} image={(seoField.image as { fields: any }).fields}>
	<GlassHeader
		name={personalInfo.name}
		client:only='svelte'
	/>
	<main class='min-h-screen'>
		<HeroSection
			{...personalInfo}
			client:only='svelte'
		/>
		<EmploymentHistory
			{pastEmployers}
			client:only='svelte'
		/>
		<ProjectShowcase {showcaseProjects} client:only='svelte' />
		<SkillsSection {skillCategories} client:only='svelte' />
		<AwardsSection
			{awards}
			client:only='svelte'
		/>
		<EducationSection {certifications} client:only='svelte' />
	</main>
	<Footer
		name={personalInfo.name}
		client:only='svelte'
	/>
</Layout>
