---
import interWoff2 from '@fontsource-variable/inter/files/inter-latin-wght-normal.woff2?url';
import fontCssUrl from '@fontsource-variable/inter?url';
import '@/styles/global.css';
import '@/styles/layout.css';
import { ClientRouter } from 'astro:transitions';
// import { pwaInfo } from 'virtual:pwa-info';
import { Head } from 'astro-capo';
import { SEO } from 'astro-seo';
// import DOMPurify from 'isomorphic-dompurify';
import favicon from '@/assets/favicons/favicon.webp';
import Footer from '@/astro/Footer.astro';
import GlassHeader from '@/astro/GlassHeader/index.astro';
// import ReloadPrompt from '@/astro/ui/ReloadPrompt.astro';
import { seoConfig } from '@/config/seoConfig';

interface OpenGraphProps {
	basic: {
		title: string;
		type: string;
		image: string;
		url?: URL | string;
	};
	optional?: {
		audio?: string;
		description?: string;
		determiner?: string;
		locale?: string;
		localeAlternate?: string[];
		siteName?: string;
		video?: string;
	};
	image?: {
		url?: string;
		secureUrl?: string;
		type?: string;
		width?: number;
		height?: number;
		alt?: string;
	};
	article?: {
		publishedTime?: string;
		modifiedTime?: string;
		expirationTime?: string;
		authors?: string[];
		section?: string;
		tags?: string[];
	};
}

interface Props {
	title: string;
	description: string;
	canonicalUrl: string;
	siteName: string;
	image?: {
		url?: string;
		alt?: string;
		width?: number;
		height?: number;
		type?: string;
	};
	article?: {
		publishedTime?: string;
		modifiedTime?: string;
		expirationTime?: string;
		authors?: string[];
		section?: string;
		tags?: string[];
	};
	name?: string;
}

const {
	title = seoConfig.siteName,
	description = seoConfig.description,
	canonicalUrl = seoConfig.baseURL,
	siteName = seoConfig.siteName,
	image = seoConfig.image,
	article,
	name,
}: Props = Astro.props;

const openGraph: OpenGraphProps = {
	basic: {
		title,
		type: 'website',
		image: image.url as string,
		url: canonicalUrl,
	},
	optional: {
		// audio?: string,
		description,
		// determiner?: string,
		locale: 'en_ZA',
		localeAlternate: [
			'en_US',
		],
		siteName,
	},
};

if (image !== undefined) {
	openGraph.basic.image = image.url
		? image.url
		: (seoConfig.image.url as string);
	openGraph.image = {};
	if (image.url) openGraph.image.url = image.url;
	if (image.url) openGraph.image.secureUrl = image.url;
	if (image.width) openGraph.image.width = image.width;
	if (image.height) openGraph.image.height = image.height;
	if (image.alt) openGraph.image.alt = image.alt;
}

if (article) {
	openGraph.article = article;
}
---
<html lang='en' transition:animate="none">
	<Head>
		<ClientRouter />
		<link rel="preload" as="script" href="https://www.googletagmanager.com/gtag/js?id=G-YW069N7W3X" transition:persist>
		<script async src="https://www.googletagmanager.com/gtag/js?id=G-YW069N7W3X" transition:persist transition:persist-props is:inline />
		<link rel="preload" href={fontCssUrl} as="style">
		<link rel="stylesheet" href={fontCssUrl}>
		<script transition:persist is:inline>
		  window.dataLayer = window.dataLayer || [];
		  function gtag() {
				window.dataLayer?.push(arguments);
			}
		  gtag('js', new Date());
		  gtag('config', 'G-YW069N7W3X');
		</script>
		<link rel="preload" as="font" type="font/woff2" href={interWoff2} crossorigin="anonymous" transition:persist />
		<meta charset='UTF-8' transition:persist />
		<meta
			name='viewport'
			content='width=device-width'
			transition:persist
		/>
		<link
			rel='icon'
			type='image/svg+xml'
			href={favicon.src}
			transition:persist
		/>
		<meta
			name='generator'
			content={Astro.generator}
			transition:persist
		/>
		<!--// TODO Lario - imtegrate images from the cnms

		// ‍Key Points
		// Why optimize images for SEO? Optimized images can improve page rankings, load speed, and accessibility, attracting more visitors.
		// Best image formats for SEO: Use WebP for speed and compression. Use PNG for lossless quality and transparency. Use JPG for compatibility.
		// Ideal image sizes and ratios:
		// Open Graph:
		// 1200px × 628px (1:1.9.1)
		// 1600px x 900px (16:9)
		// 1200px x 675px (16:9)
		// 1200px x 1200px (1:1)
		// 1200px x 900px (4:3)

		// Recommended Aspect Ratios:
		// 16:9: Commonly used for hero images, background images, and video content.
		// 3:2: Suitable for landscape photos and blog images.
		// 1:1: Ideal for square images and logos, offering more flexibility in cropping

		// TODO Lario
		// images: [
		//   {
		//     url: 'https://www.example.ie/og-image-01.jpg',
		//     width: 800,
		//     height: 600,
		//     alt: 'Og Image Alt',
		//     type: 'image/jpeg',
		//   },
		//   {
		//     url: 'https://www.example.ie/og-image-02.jpg',
		//     width: 900,
		//     height: 800,
		//     alt: 'Og Image Alt Second',
		//     type: 'image/jpeg',
		//   },
		//   { url: 'https://www.example.ie/og-image-03.jpg' },
		//   { url: 'https://www.example.ie/og-image-04.jpg' },
		// ],--->
		<SEO
      {title}
      {description}
      {openGraph}
      twitter={{
      	creator: '@jonasmerlins1',
      }}
      extend={{
      	link: [{
      		rel: 'icon',
      		href: favicon.src,
      	}],
      	// TODO Lario replace image
      	meta: [
      		{
      			name: 'twitter:image',
      			content: 'https://user-images.githubusercontent.com/5182256/131216951-8f74f425-f775-463d-a11b-0e01ad9fce8d.png',
      		},
      		{
      			name: 'twitter:title',
      			content: 'Tinker Tailor Soldier Spy',
      		},
      		{
      			name: 'twitter:description',
      			content: 'Agent',
      		},
      	],
      }}
		/>
		<script src='@/scripts/BrowserInit.ts' />
		<script is:inline>
			document.addEventListener('astro:after-swap', () => {
				if (localStorage.getItem('dark') === 'dark') {
					document.documentElement.classList.add('dark');
				}
			});
		</script>
		<!-- TODO Lario PWA { pwaInfo != null && <Fragment set:html={DOMPurify.sanitize(pwaInfo.webManifest.linkTag)} /> } -->
	</Head>
	
	<body>
		<div class='background' transition:persist />
		<GlassHeader {name} transition:persist-props transition:persist />
		<main transition:animate="slide">
			<slot/>
		</main>
		<Footer name={name} transition:persist-props/>
		<!-- TODO Lario PWA <ReloadPrompt transition:persist /> -->
	</body>
</html>
