---
import '@/styles/global.css';
import {
	pwaInfo,
} from 'virtual:pwa-info';
import {
	GoogleAnalytics,
} from 'astro-google-analytics';
import {
	SEO,
} from 'astro-seo';
import favicon from '@/assets/favicons/favicon.webp';
import {
	Head,
} from 'astro-capo';
import {
	seoConfig,
} from '@/config/seoConfig'
import HtmlElement from '@/ui/HtmlElement.svelte';
import Footer from '@/components/Footer.svelte';
import GlassHeader from '@/components/GlassHead/GlassHeader.svelte';
import {
	GoogleFontsOptimizer,
} from 'astro-google-fonts-optimizer';
import ReloadPrompt from '@/astro/ReloadPrompt.astro';

interface OpenGraphProps {
	basic: {
		title: string;
		type: string;
		image: string;
		url?: URL | string;
	};
	optional?: {
		audio?: string;
		description?: string;
		determiner?: string;
		locale?: string;
		localeAlternate?: string[];
		siteName?: string;
		video?: string;
	};
	image?: {
		url?: string;
		secureUrl?: string;
		type?: string;
		width?: number;
		height?: number;
		alt?: string;
	};
	article?: {
		publishedTime?: string;
		modifiedTime?: string;
		expirationTime?: string;
		authors?: string[];
		section?: string;
		tags?: string[];
	};
}

interface Props {
	title: string;
	description: string;
	canonicalUrl: string;
	siteName: string;
	image?: {
		url?: string;
		alt?: string;
		width?: number;
		height?: number;
		type?: string,
	},
	article?: {
		publishedTime?: string,
		modifiedTime?: string,
		expirationTime?: string,
		authors?: string[],
		section?: string,
		tags?: string[],
	},
	name?: string,
}

const {
	title = seoConfig.siteName,
	description = seoConfig.description,
	canonicalUrl = seoConfig.baseURL,
	siteName = seoConfig.siteName,
	image = seoConfig.image,
	article,
	name,
}: Props = Astro.props;

const openGraph: OpenGraphProps = {
	basic: {
		title,
		type: 'website',
		image: (image.url as string),
		url: canonicalUrl,
	},
	optional: {
		// audio?: string,
		description,
		// determiner?: string,
		locale: 'en_ZA',
		localeAlternate: ['en_US'],
		siteName,
	},
};

if (image != undefined) {
	openGraph.basic.image = image.url ? image.url : seoConfig.image.url as string;
	openGraph.image = {};
	if (image.url) openGraph.image.url = image.url;
	if (image.url) openGraph.image.secureUrl = image.url;
	if (image.width) openGraph.image.width = image.width;
	if (image.height) openGraph.image.height = image.height;
	if (image.alt) openGraph.image.alt = image.alt;
}

if (article) {
	openGraph.article = article;
}

---

<style>
	html,
	body {
		margin: 0;
		padding: 0;
		width: 100%;
		height: 100%;
		scroll-behavior: smooth;
	}

	:root {
		--transition-standard: 0.3s cubic-bezier(0.4, 0, 0.2, 1);
	}

	body {
		transition:
			background-color var(--transition-standard),
			color var(--transition-standard);
	}
</style>

<html lang='en'>
	<Head>
		<GoogleAnalytics id='G-YW069N7W3X' />
		<script src='@/scripts/BrowserInit.ts'></script>
		<GoogleFontsOptimizer url="https://fonts.googleapis.com/css2?family=Inter:wght@200;400;500;700&display=swap" />
		<meta charset='UTF-8' />
		<meta
			name='viewport'
			content='width=device-width'
		/>
		<link
			rel='icon'
			type='image/svg+xml'
			href={favicon.src}
		/>
		<meta
			name='generator'
			content={Astro.generator}
		/>
		<!--// TODO Lario - imtegrate images from the cnms

		// ‍Key Points
		// Why optimize images for SEO? Optimized images can improve page rankings, load speed, and accessibility, attracting more visitors.
		// Best image formats for SEO: Use WebP for speed and compression. Use PNG for lossless quality and transparency. Use JPG for compatibility.
		// Ideal image sizes and ratios:
		// Open Graph:
		// 1200px × 628px (1:1.9.1)
		// 1600px x 900px (16:9)
		// 1200px x 675px (16:9)
		// 1200px x 1200px (1:1)
		// 1200px x 900px (4:3)

		// Recommended Aspect Ratios:
		// 16:9: Commonly used for hero images, background images, and video content.
		// 3:2: Suitable for landscape photos and blog images.
		// 1:1: Ideal for square images and logos, offering more flexibility in cropping

		// TODO Lario
		// images: [
		//   {
		//     url: 'https://www.example.ie/og-image-01.jpg',
		//     width: 800,
		//     height: 600,
		//     alt: 'Og Image Alt',
		//     type: 'image/jpeg',
		//   },
		//   {
		//     url: 'https://www.example.ie/og-image-02.jpg',
		//     width: 900,
		//     height: 800,
		//     alt: 'Og Image Alt Second',
		//     type: 'image/jpeg',
		//   },
		//   { url: 'https://www.example.ie/og-image-03.jpg' },
		//   { url: 'https://www.example.ie/og-image-04.jpg' },
		// ],--->
		<SEO
      {title}
      {description}
      {openGraph}
      twitter={{
      	creator: '@jonasmerlins1',
      }}
      extend={{
      	link: [{
      		rel: 'icon',
      		href: favicon.src,
      	}],
      	// TODO Lario replace image
      	meta: [
      		{
      			name: 'twitter:image',
      			content: 'https://user-images.githubusercontent.com/5182256/131216951-8f74f425-f775-463d-a11b-0e01ad9fce8d.png',
      		},
      		{
      			name: 'twitter:title',
      			content: 'Tinker Tailor Soldier Spy',
      		},
      		{
      			name: 'twitter:description',
      			content: 'Agent',
      		},
      	],
      }}
		/>
		{ pwaInfo != null && <HtmlElement content={pwaInfo.webManifest.linkTag} client:only='svelte' /> }
	</Head>
	<body
		class='min-h-screen bg-background font-sans antialiased dark:selection:bg-yellow-200/20 dark:selection:text-yellow-200'
	>
		<div
			class='fixed inset-0 -z-10 h-full w-full bg-background bg-[radial-gradient(ellipse_80%_80%_at_50%_-20%,rgba(120,119,198,0.3),rgba(255,255,255,0))]'
		>
		</div>
		<GlassHeader
			{name}
			client:only=svelte
		/>
		<main class='min-h-screen'>
			<slot/>
		</main>
		<Footer
			name={name}
			client:only="svelte"
		/>
		<ReloadPrompt />
	</body>
</html>
